/* .am-button {
  background-color: #e8e693;
  border: none;
  color: #171717;
  padding: 15px 45px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 100px;
}

.am-button:hover {
  background-color: #d2d182;
  transition: 0.3s;
} */
