@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700;800&display=swap');

* , html {
    font-family: 'inter', sans-serif;
    font-weight: 300;
    padding: 0;
    margin: 0;
    outline: none;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  a {
    text-decoration: none !important;
  }

  .site-container {
    background-image: url('../img/main-bg.jpg'); 
    /* background-attachment: fixed; */
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;    
  }

  .active {
    color: #A92BD8 !important;
  }

  .site-nav ul {
    padding-left: 0;
  }

  .site-nav ul li {
    display: inline-block;
    padding: 0 25px 0 0;
  }

  .site-nav ul li a {
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
  }

/* Key Skills */
.key-skills-r img {
    width: 100%;
    height: auto;
    max-width: 400px;
    position: absolute;
    z-index: 9;
    top: -100px;
    right: 25px;
}

/* About Me */
.am-buttons ul {
    padding-left: 0;
}

.am-buttons ul li {
    display: inline-block;
}
