.site-container {
  font-weight: 300;
}

.site-container li {
  font-weight: 300;
  font-size: 0.9rem;
  line-height: 27px;
}

mark {
  background-color: #e8e693;
  color: #171717;
  padding: 10px;
  width: fit-content;
  display: block;
  margin: 25px 0 0 0;
}

#content {
  width: 50%;
  height: 100vh; /* Full height of the viewport */
  background-color: #171717;
  padding: 2.5em 5em 5em 5em;
  box-sizing: border-box; /* Includes padding in height */
  position: fixed;
  z-index: 999999;
  top: 0;
  right: 0;
  color: #f5f5f5;
  font-weight: 700;
  overflow-y: auto; /* Allow scrolling when content overflows */
  display: none;
}

#content p {
  color: #f5f5f5;
  font-size: 0.9rem;
  font-weight: 300;
}

#content a {
  font-size: 0.9rem;
  color: #e8e693;
  font-weight: 700;
  text-decoration: none;
}

.content-info {
  opacity: 1;
}

.closeBtn img {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 15px;
  right: 15px;
}

#pscoContent {
  display: none;
}

#agContent {
  display: none;
}

#ncbmContent {
  display: none;
}

#thgContent img {
  width: 100%;
  height: auto;
  max-width: 15px;
}

@media only screen and (max-width: 992px) {
  #content {
    width: 70%;
    height: 100vh; /* Full viewport height on mobile */
    background-color: #232323;
    padding: 2.5em 2.5em 5em 2.5em;
    box-sizing: border-box; /* Consistent padding behavior */
    overflow-y: auto; /* Ensure scrolling on mobile */
    display: none;
  }
}
