#content {
  width: 50%;
  height: 100%;
  background-color: #0c0c0c;
  padding: 2.5em 10em 5em 5em;
  position: fixed;
  z-index: 999999;
  top: 0;
  right: 0;
  color: #171717;
  font-weight: 700;
  overflow-y: scroll;
  display: none;
}

#content p {
  color: #ffffff;
  font-size: 1.1rem;
}

#content a {
  font-size: 1.1rem;
  color: #a92bd8;
  font-weight: 700;
}

.content-info {
  opacity: 1;
}

.closeBtn img {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 15px;
  right: 15px;
}

#pscoContent {
  display: none;
}

#agContent {
  display: none;
}

#ncbmContent {
  display: none;
}

@media only screen and (max-width: 992px) {
  #content {
    width: 90%;
    height: 100%;
    background-color: #0c0c0c;
    padding: 2.5em 5em 5em 2.5em;
    position: fixed;
    z-index: 999999;
    top: 0;
    right: 0;
    color: #171717;
    font-weight: 700;
    overflow-y: scroll;
    display: none;
  }
}
