body {
    background-color: #171717;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: #f5f5f5;
    letter-spacing: 0.1rem;
    padding: 0;
    margin: 0;
}

h1 , h2 , h3 , h4 , h5 , h6 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

h2 {
    font-size: 3.2rem;
    display: block;
    padding-bottom: 15px;
    margin: 0;
}

p {
    line-height: 27px;
}

/* Navigation */
nav {
    width: 100%;
    height: auto;
    padding: 25px 0 5px 0;
}

.nav ul {
    display: flex;
    gap: 25px;
    justify-content: center;
    padding-left: 0;
}

.nav li {
    display: inline-flex;
}

.nav li a {
    color: #f5f5f5;
    text-decoration: none;
}

hr {
    border: none;
    height: 1px;
    background: repeating-linear-gradient(
        to right,
        #f5f5f5 0,
        #f5f5f5 5px,
        transparent 5px,
        transparent 20px 
    );
    width: 100%;
    margin: 0;
}

/* Hero - Section */
.hero-container {
    width: 100%;
    max-width: 1000px;
    margin: 25px auto;
    background-color: #232323;
    display: flex;
    padding: 50px;
    gap: 50px;
    border-radius: 25px;
}

.hero-image {
    flex: 1;
}

.hero-image img {
    width: 100%;
    height: auto;
    border-radius: 25px;
}

.hero-content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content h1 {
    color: #f5f5f5;
    font-size: 4.5rem;
    margin: 0;
}

.hero-content hr {
    border: none; 
    height: 1px;
    background: repeating-linear-gradient(
        to right,
        #f5f5f5 0,
        #f5f5f5 5px,
        transparent 5px,
        transparent 20px
    );
    width: 100%;
    margin: 25px 0;
}

.hero-content h2 {
    font-size: 3.2rem;
    font-weight: 300;
    margin: 0;
}

.hero-info {
    display: flex;
    flex-direction: column;   
    gap: 10px;
    margin: 0; 
    padding: 0;
    height: auto;
}

/* Key Skills */
.key-skills-container {
    width: 100%;
    max-width: 1000px;
    margin: 25px auto;
    background-color: #232323;
    padding: 50px;
    gap: 50px;
    border-radius: 25px;
}

.key-skills-flex {
    display: flex;
}

.key-skills-column {
    flex: 1;
}

/* About */
.about-container {
    width: 100%;
    max-width: 1000px;
    margin: 25px auto;
    background-color: #232323;
    padding: 50px;
    gap: 50px;
    border-radius: 25px;
}

.about-flex {
    display: flex;
}

.about-column-content {
    flex: 1;
}

.about-column-image {
    flex: 1;
}

.profile-pic {
    width: 100%;
    height: auto;
}

.profile-pic img {
    width: 100%;
    height: auto;
    max-width: 200px;
    border-radius: 100px;
    display: block;
    margin: 0 auto;
    background-color: #ffffff;
    border: inset 1px #232323;
}

.icons {
    width: 100%;
    height: auto;
    text-align: center;
}

.icons ul {
    list-style-type: none;
    padding-left: 0;
}

.icons li {
    display: inline-flex;
    padding: 0 5px;
}

.icons img {
    width: 100%;
    height: auto;
    max-width: 50px;
}

.download-icon {
    position: relative;
    top: 2px;
}

/* Portfolio */
.portfolio-container {
    width: 100%;
    max-width: 1000px;
    margin: 25px auto;
    background-color: #232323;
    padding: 50px;
    gap: 50px;
    border-radius: 25px;
}

.footer {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 25px 0;
}

.footer span {
    font-size: 11px;
}

@media screen and (max-width: 767px) {
  .hero-container {
    display: block;
    padding: 0;
    width: 90%;
    margin: 0 auto
  }

  .hero-info {
    padding: 15px 25px 0 25px;
  }

  .hero-content h1 {
    font-size: 3.5rem;
  }

  .key-skills-container {
    padding: 0;
    width: 90%;
    margin: 0 auto
  }

  .about-container {
    padding: 0;
    width: 90%;
    margin: 0 auto
  }

  .about-flex {
    display: block;
  }

  .portfolio-container {
    padding: 0;
    width: 90%;
    margin: 0 auto
  }
}