.filter { position: relative; /* margin: 0 20px 40px; */ }
.filter .owl-item  { padding: 5px; box-sizing: border-box; }

.filter a { 
    display: block;
    width: 100%;
    height: auto;
    line-height: 1.3em;
    font-size: 13px;
    color: #3d3d3b;
    text-align: left;
    text-decoration: none;
    transition: all .4s ease;
    padding: 0 0 1em 0;
    cursor: pointer;
	font-weight: 500;
}

.current {
	color: #2577a1;
	font-weight: 500;
}

.filter a.current {
	color: #2577a1;
	font-weight: 500;
}

.filter a:hover { 
	color: #2577a1;
	font-weight: 500;
}

.filter .owl-prev { position: absolute; top: 4px; left: -20px; font-size: 18px; line-height: 30px; font-weight: bold; }
.filter .owl-next { position: absolute; top: 4px; right: -20px; font-size: 18px; line-height: 30px; font-weight: bold; }
.filter-container h1 { text-align: center; }
.filter-container .tile { width: 100%; height: auto; margin-bottom: 10px; color: #fff; font-size: 1em; text-align: left; }

.filter-container .ct_01 {}
.filter-container .ct_02 { /* background-color: pink; */ }
.filter-container .ct_03 { /* background-color: blue; */ }
.filter-container .ct_04 { /* background-color: orange; */ }
.filter-container .ct_05 { /* background-color: red; */ }
.filter-container .ct_06 { /* background-color: black; */ }
.filter-container .ct_07 { /* background-color: purple; */ }
.filter-container .ct_08 { /* background-color: #444333; */ }
.filter-container .ct_09 { /* background-color: #eee333; */ }
.filter-container .ct_10 { /* background-color: #c2c4de; */ }
.filter-container .ct_11 { /* background-color: #c2ddde; */ }
.filter-container .ct_12 { /* background-color: #eeeaaa; */ }
.filter-container .ct_13 { /* background-color: #7ee8be; */ }

@media (max-width: 767px) { 
	.filter-container .tile { width: 100%; }
}